{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Billbalance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{% static "billbalance/css/main.css" %}" rel="stylesheet">
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					
					<a class="brand" href="#">Billbalance</a>
				</div>
			</div>
		</div>
		{% block content %}{% endblock %}
		
		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static "billbalance/js/main.js" %}"></script>

	</body>
</html>