{% extends "billbalance/base.html" %}

{% block content %}
		<div class="container">
			<div class="row-fluid">

				<div class="span4 well">
					<h2>Summary</h2>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Money</th>
							</tr>
						</thead>
						<tbody class="summary-persons">
							<tr>
								<td class="summary-persons-name" ></td>
								<td><span class="summary-persons-money badge"></span></td>
							</tr>
						</tbody>
					</table>

					<span class="badge badge-success">People own you money</span>
					<span class="badge badge-important">You owe people money</span>

				</div>
				
				<div class="span4 well">
					<h2>Add bill</h2>
					<input type="text" placeholder="Summa" class="bill-money input-block-level" />
					<select class="bill-category input-block-level"></select>

					<h5>Who will share the bill? <span class="pull-right"></h5>
					
					<ul class="nav nav-pills bill-share" >
						<li class="bill-share-persons-selected">
							<a href="#" class="bill-share-person"></a>
						</li>
					</ul>
					
					<!--<a data-bind="click: showHideField.bind($data, $root.showNewPersonField)" href="#"><i class="icon-plus-sign"></i> Add person</a> </span>
					<div data-bind="visible: showNewPersonField">

						<input type="text" placeholder="Add new person" class="span8" data-bind="value: newPerson" />
						<button class="pull-right btn btn-primary span4" data-bind="click: addPerson">
							Add Person
						</button>

					</div>-->

					<div class="alert alert-info">
						<p>
							Person who pays
						</p>
						<select class="bill-pay-person input-block-level"></select>
						<input class="bill-description input-block-level" type="text" placeholder="Desciption" />
						<input class="bill-date input-block-level" id="currDate" type="text" placeholder="Date" />
					</div>

					<button class="bill-add btn btn-large btn-block btn-primary">
						Add bill
					</button>

				</div>

				<div class="span4 well">
					<h2>History</h2>
					<table class="bill-history-show" class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Money</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody class="bill-history" data-bind=>
							<tr>
								<td class="bill-history-person"></td>
								<td class="bill-history-money"></td>
								<td class="bill-history-date"></td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="bill-display-data span12 well"></div>

			</div>
		</div>
{% endblock %}
		